$color-gray-200: #EDF2F7;
$color-gray-800: #2D3748;
$color-red-600: #E53E3E;
$color-indigo-200: #C3DAFE;
$color-red-700: #C53030;

.calculator {
  display: grid;
  grid-template:
    "display display display display"
    "clear   clear   clear   divide"
    "seven   eight   nine    multiply"
    "four    five    six     subtract"
    "one     two     three   plus"
    "zero    zero    zero    equal" /
    1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 256px;
}

.calculator__element--cell-display {
  grid-area: display;
}

.calculator__element--cell-clear {
  grid-area: clear;
}

.calculator__element--cell-divide {
  grid-area: divide;
}

.calculator__element--cell-multiply {
  grid-area: multiply;
}

.calculator__element--cell-subtract {
  grid-area: subtract;
}

.calculator__element--cell-plus {
  grid-area: plus;
}

.calculator__element--cell-equal {
  grid-area: equal;
}

.calculator__element--cell-zero {
  grid-area: zero;
}

.calculator__element--cell-one {
  grid-area: one;
}

.calculator__element--cell-two {
  grid-area: two;
}

.calculator__element--cell-three {
  grid-area: three;
}

.calculator__element--cell-four {
  grid-area: four;
}

.calculator__element--cell-five {
  grid-area: five;
}

.calculator__element--cell-six {
  grid-area: six;
}

.calculator__element--cell-seven {
  grid-area: seven;
}

.calculator__element--cell-eight {
  grid-area: eight;
}

.calculator__element--cell-nine {
  grid-area: nine;
}

.calculator__element {
  font-size: 2rem;
  height: 64px;
  transition-duration: 300ms;
  user-select: none;
}

.calculator__element--small {
  font-size: 1.5rem;
}

.calculator__element--action {
  background-color: $color-red-600;
  color: $color-gray-200;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-red-700;
  }
}

.calculator__element--value {
  background-color: $color-gray-200;
  color: $color-gray-800;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-indigo-200;
  }
}
